@font-face {
    font-family: 'ALK Rounded Mtav Med';
    src: url('../fonts/alk-rounded-mtav-med-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/alk-rounded-mtav-med-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/alk-rounded-mtav-med-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/alk-rounded-mtav-med-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/alk-rounded-mtav-med-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/alk-rounded-mtav-med-webfont.svg#alk_rounded_mtav_medregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Stint Ultra Condensed';
    src: url('../fonts/StintUltraCondensed-Regular.eot');
    src: url('../fonts/StintUltraCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StintUltraCondensed-Regular.woff2') format('woff2'),
        url('../fonts/StintUltraCondensed-Regular.woff') format('woff'),
        url('../fonts/StintUltraCondensed-Regular.svg#StintUltraCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

